In [50]:
!pip install census
!pip install us
!pip install addfips

Requirement already satisfied: census in c:\users\lkchi\anaconda3\lib\site-packages (0.8.23)
Requirement already satisfied: requests>=1.1.0 in c:\users\lkchi\anaconda3\lib\site-packages (from census) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lkchi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2024.8.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\lkchi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lkchi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lkchi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.3)
Requirement already satisfied: us in c:\users\lkchi\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: jellyfish in c:\users\lkchi\anaconda3\lib\site-packages (from us) (1.1.3)
Collecting addfips
  Downloading addfips-0.4.2-py3-none-any.whl (120 kB)
Installing collected packages: addfips
Successfully installed addfips-0.4.2

In [1]:
from census import Census
from us import states
import API_KEYS

c = Census(API_KEYS.API_KEY)

In [57]:
data = c.acs5.state_county(('B01001_004E', 'NAME'), '*', '*')

In [3]:
#c.acs5.state_county(('B01001_004E', 'NAME'), {'for': 'state:*'})

In [59]:
import pandas as pd

In [60]:
cen_data = pd.DataFrame(data)
cen_data

      B01001_004E                              NAME state county
0          1805.0           Autauga County, Alabama    01    001
1          6024.0           Baldwin County, Alabama    01    003
2           689.0           Barbour County, Alabama    01    005
3           734.0              Bibb County, Alabama    01    007
4          1851.0            Blount County, Alabama    01    009
...           ...                               ...   ...    ...
3217       1253.0  Vega Baja Municipio, Puerto Rico    72    145
3218        283.0    Vieques Municipio, Puerto Rico    72    147
3219        644.0   Villalba Municipio, Puerto Rico    72    149
3220        689.0    Yabucoa Municipio, Puerto Rico    72    151
3221        788.0      Yauco Municipio, Puerto Rico    72    153

[3222 rows x 4 columns]

In [61]:
cen_data[['county_name', 'state_name']] = cen_data['NAME'].str.split(',', expand = True)

In [67]:
cen_data

,B01001_004E,NAME,state,county,county_name,state_name
0,1805.0,"Autauga County, Alabama",01,001,Autauga County,Alabama
1,6024.0,"Baldwin County, Alabama",01,003,Baldwin County,Alabama
2,689.0,"Barbour County, Alabama",01,005,Barbour County,Alabama
3,734.0,"Bibb County, Alabama",01,007,Bibb County,Alabama
4,1851.0,"Blount County, Alabama",01,009,Blount County,Alabama
...,...,...,...,...,...,...
3217,1253.0,"Vega Baja Municipio, Puerto Rico",72,145,Vega Baja Municipio,Puerto Rico
3218,283.0,"Vieques Municipio, Puerto Rico",72,147,Vieques Municipio,Puerto Rico
3219,644.0,"Villalba Municipio, Puerto Rico",72,149,Villalba Municipio,Puerto Rico
3220,689.0,"Yabucoa Municipio, Puerto Rico",72,151,Yabucoa Municipio,Puerto Rico
3221,788.0,"Yauco Municipio, Puerto Rico",72,153,Yauco Municipio,Puerto Rico